.bookingbox {
  padding: 16px;
}
.bookings-title {
  padding-top:16px;
  padding-right: 16px;
  padding-left: 16px;
}
.bookings-container {
  display: flex;
  padding: 16px;
}
.profile-title {
  margin: 16px;
  font-size: 24px;
  padding: 16px;
}
.booking-details {
  font-size: 12px;
  position: relative;
  top: 32px;
  justify-content: space-between;
}
.booking {

  width: 300px;
  padding-right: 24px;
  padding-bottom: 60px;
  display: flex;
}
.bookings-name {
  position: absolute;
}
.bookings {
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-radius: 16px;
  margin: 32px;
}
.properties {
  padding: 16px;
  margin: 32px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-radius: 16px;
}
.property_link {
  height: 40px;
  width: 200px;
  background-color: #0CF5B4;
  border-radius: 16px;
  margin: 32px;
}
