<div data-aos="fade-up">
  <div class="host_grid">
      <image class=host_image></image>
      <h1 class='host_title'>Become a host</h1>
      <div class="host_textbox">
      <p>My name is Robert Colvin, I'm an actor, property investor and software developer based in London.
        <br>
        I created 'I need digs' to solve two problems.
        <br>
        1. Most Air Bnb guests are simply unreliable. The small damages and wear to properties add up and ultimately eat in to the profitability of any property business.
        <br>
        The average cost of maintenance for an Air BnB property as predicted by *SOURCE* sits at *1300* for an average two bedroom property. With the largest expenses being 'kitchen damage', 'replacement bedding', 'cleaning costs'.
        By ensuring that members take the upmost care, and replace if not compensate for any damages made we ensure to drive down expenses.
        <br>
      2. Entertainment industry professionals need high quality accomodation, and they need it at a good price. </p>
      <br>
      The alloted accomodation allowance for an equity theatre has not kept up with inflation meaning that workers in this industry have to make do with incredibly poor accomodation, or top up their allowance using their standard income.

      <p>Becoming a host with I need digs is the easiest way to secure regular short term lets without the risks of unvetted tenants.
        By joining 'I need digs' potential members are put through a rigorous background check, and most importantly agree to our zero tolerance policy,
        which ensures that our members respect and treat your property with the highest standards.
      </p>
  </div>
        <%= image_tag 'Headshot', :class => 'rob_image' %>

      <%= link_to new_user_registration_path do%>
      <p>sign up</p>
      <% end %>
  </div>
</div>
