<label id="entry-label" for="toggle-1">JOIN THE <br> ACCOMODATION <br> REVOLUTION</label>
<input id="toggle-1" type="checkbox">
<div class="entry-text" for="toggle-1">
<p>The idea is simple, bad tenants, even average tenants cost money, damage, cleaning costs, replacements, not to mention dealing with unpredictable reviews and tenants need affordable accomodation.</p>
<br>
<p>For hosts you get access to our stringently verified, highest quality tenants who adhere to and meet our strict policy and membership requirements ensuring that you know your property is safe, extremely well maintained and in most cases in a better condition after the stay following our member agreed 12 step check-out cleaning process. </p>
<br>
<p>For members, in exchange for meeting membership requirements, our check-out process, and stay standards, you get access to fantastic short term accomodation at an exclusive members only discount, ensuring properties never exceed equity touring allowance.</p>
<%= link_to 'home' do %>
<button class="join-button">Join us</button>
<% end %>
</div>
