<div class="home-container">
  <div class="green-home">
    <h2 class='green-home-text'>Accomodation for theatre professionals, democratized, simplified, revolutionized.</h2>
  </div>
  <%= image_tag 'home-image', class: 'home-image' %>
</div>
