<div class="home-container">
  <div class="green-home">
    <h2 class='green-home-text'>Accomodation for theatre professionals, democratized, simplified, revolutionized.</h2>
    <%= form_tag properties_path, method: :get do %>
    <div class="green-home-search">
      <%= text_field_tag :query,
      params[:query],
      class: "green-home-search-form",
        placeholder: "City?"
        %>
        <%= submit_tag "Search", class: "search-button" %>
        <% end %>

      <div class="form-box">Check in?</div>
      <div class="form-box">Check out?</div>
      <div class="form-box">Guests?</div>
      <div class="form-box">Beds</div>
      <div class="form-box">With Host?</div>
    </div>
    </div>
    <%= image_tag 'home-image', class: 'home-image' %>
  </div>
