.show-title {
 margin: 16px;
}
.listing {
  display: flex;
  padding: 16px;
  width: 100%;
}
.show-image {
  border-radius: 16px;
  width: auto;
  height: 400px;
}
.property-elements {
  padding-left: 32px;
  width: 30%;
  justify-content: flex-end;

}
.property-address {
  justify-content: flex-start;
}
.property-city {
  flex-grow: 1;
}
