.show-title {
 margin: 16px;
}
.listing {
  display: flex;
  padding: 16px;
  width: 100%;
}
.show-image {
  border-radius: 16px;
  width: auto;
  height: 400px;
}
.property-elements {
  padding-left: 32px;
  width: 30%;
  justify-content: flex-end;

}
.property-address {
  margin-bottom: 16px;
  font-size: 24px;
  justify-content: flex-start;
}
.property-city {
  font-size: 20px;
  flex-grow: 1;
}
.beds {
  font-size: 20px;
}
.rooms {
  margin-top: 16px;
  font-size: 20px;
}
