.show-title {
 margin: 16px;
}
.listing {
  display: flex;
  padding: 16px;
}
.show-image {
  border-radius: 16px;
  width: auto;
  height: 400px;
}
.property-elements {
  justify-content: flex-end;

}
.property-address {
  justify-content: flex-start;
}
.property-city {
  justify-content: flex-end;
}
