@import "pages/pages";
@import "components/navbar";
@import "components/card";
@import "properties/properties";
@import "bootstrap/scss/bootstrap";

.logo {
  padding: 16px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  font-family: 'Rubik Mono One', sans-serif;
}

a {
  color: inherit;
  }
